* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100rem;
}

/* Header & Navbar */
header {
  background: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  transition: top 0.8s;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hamburger Menu */
.menu-icon {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 4px 15px;
}

.menu-icon span {
  height: 3px;
  width: 25px;
  background: #000;
  display: block;
  margin: 5px 0;
  border-radius: 2px;
}

.navbar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav ul li a {
  margin: 5px;
  padding: 10px 0;
  text-decoration: none;
  display: block;
  color: #666;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.navbar-nav ul li a:hover {
  color: #000;
}

.navbar-nav ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
}

.navbar-nav ul li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Hidden initially */
.navbar-nav {
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

/* 'show' class for toggle by JS */
.show {
  max-height: 900px;
}

/* For bigger screen */
@media(min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .menu-icon {
    display: none;
  }

  .navbar-nav ul {
    display: flex;
  }

  .navbar-nav ul li {
    margin: 0 15px;
  }

  .navbar-nav {
    max-height: 600px;
  }

  .box {
    margin: 20px 80px;
  }
}


/*Headre Anf Navbar Close here */



/* Services Section  */
.container-box{
  margin-top: 50px;
  padding: 100px 0px;
  background-color: #fff;

}


/* desing Services  */
.Service-heading{
  padding: 10px;

}
.Service-heading >h2{
  font-size: 1.2em;
  text-transform: uppercase;
  color: #404040;
}

.par-service{
  text-align: center;
  }
.service-boxs{
  margin: auto;
  width: 100%;
}
.box-one{
text-align: center;
margin: 25px 15px;
border: 4px solid #4c86e5;
padding: 30px;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
}
.box-one i,h2,p{
  margin: 10px 0px;
}
.box-one i{
  color: yellow;
}
.box-one:hover i{
  color: #fff;
}
.box-one:hover{
  border-color: #4c86e5;
  background-color: #4c86e5;
  color: white;
}




/* For bigger screen */


@media(min-width:920px){

.container-box{
  padding-top:50px;
  margin: auto;
}
.Service-heading{
  margin: auto;
  width: 80%;
}
.Service-heading >h2{
  font-size: 1.8em;
}
.Service-heading >p{
  margin: 0px 90px;
}

.service-boxs{
  display: flex;
  flex-direction: row;
}

.box-one{
  width:25%;
  flex-direction: row;
}


  }
  /* service For bigger screen  END*/
  /* Pricing Section  */
  .psection{
    justify-content: center;
    text-align: center;
    padding: 25px 0px;
  }
.btnpsection{
    padding: 15px 25px;
    margin-bottom: 25px;
    color: #4c86e5;
    font-size: 20px;
    border: 3px solid #4c86e5;
    background-color: #fff;
    cursor: pointer;
  }
  .btnpsection:hover{
    background-color:  #4c86e5;
    color: #fff;
  }
  /* Pricing Section END  */


  /* About Page  */
  .container-aboutpage{
    padding:50px 10px;
  }
  .wrapper{
    margin: auto;
  }
  .container-aboutpage h2{
    color: #404040;
  text-align: center;
  margin: 40px auto;
  text-transform: uppercase;
  font-size: 1.2em;
  }
  .person-image img{
    width: 100%;
  }
  .about-para{
    margin-top: 15px;
  }
  .about-para p{
    line-height: 26px;
    padding: 5px;
  }
  .about-para p:nth-child(2) {
    margin-top: 10px;
    border-left: 5px solid #c1c1c1;
    padding: 15px;
  }
  .about-para  .writer-name {
    color: #606060;
  }
  .social-icons{
    margin: 15px auto;
    padding: 5px;
  }
  .social-icons i{
    margin: 0px 5px;
  }
  /*.social-icons i:hover{
    color: #606060;
  }*/
  .facebook-i{
    color: black;
  }
  .facebook-i:hover{
    color: #3b5998;
  }
  .pinterest-i{
    color: black;
  }
  .pinterest-i:hover{
    color:  #bd081c;
  }
  .twitter-i{
    color: black;
  }
  .twitter-i:hover{
    color: #55acee;
  }
  .snapchat-i{
    color: black;
  }
  .snapchat-i:hover{
    color: #FEFC00;
  }
  .instagram-i{
    color: black;
  }
  .instagram-i:hover{
    color: #e1306c;
  }

  @media (min-width:870px){
  .wrapper{
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  .person-image{
    width: 50%;
    padding: 0px 0px 0px 20px;
  }
  .about-section{
    width: 50%;
    padding: 0px 0px 0px 20px;

  }
  .container-aboutpage h2{
  font-size: 1.8em;
  }
  }

  /* About Page  END HEARE */


  /* Contact Page  STARTS HEARE */

  .contact
  {
    padding: 50px 15px;
    width: 100%;
    margin: auto;
  }
  .contact .heading h1{
    text-align: center;
    margin: 10px;
    color: #404040;
    font-size: 1.2em;
    text-transform: uppercase;

  }
  .heading p{
    margin: 20px 0px;
    color: #606060;
    text-align: center;
  }
  .address{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .part{
    text-align: center;
  }
  .part i{
    margin: 10px;
  }
  .part p{
    margin: 10px;
  }

  .input-class{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0px;
    border: 0;
    padding: 20px 0px;
    outline: none;
    transition: 0.5s;
  }
  input{
    font-size: 16px;
    font-weight: inherit;
    line-height: 20px;
    color: #606060;
    border-radius: 5px;
  }
  textarea{
    font-size: 16px;
    font-weight: inherit;
    line-height: 20px;
    color: #606060;
    border-radius: 5px;

  }



  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  textarea[id=message]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

  }
  input[type=submit] {
    text-transform: uppercase;
    background-color: white;
    color: #4c86e5;
    border: 4px solid #4c86e5;
    padding: 14px 30px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 16px;
    float: right;
    border-radius: 5px;
    transition: 0.5s;
  }

  input[type=submit]:hover {
    background-color: #4c86e5;
    color: white;

  }
  .btn{
    width: auto;
    text-align: center;
  }
  @media (min-width:770px){

    .address{
      flex-direction: row;
    }
    .contact
    {
      width: 50%;
    }
    .contact .heading h1{
      font-size: 1.8em;

    }
  }
  /* Contact Page  END HEARE */

  /* Testimonail Page  STARTS HEARE */
  .testimonaila-section{
    background: #ffffff;
    padding: 80px 0;

  }

  .testimonial-inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

  }

  .testimonaila-section   .testimonial-inner-width h1{
    text-align: center;
    color: #404040;
    font-size: 1.2em;
  }

  .testimonial-border{
    width: 100px;
    height: 3px;
    background: #333;
    margin: 20px auto;
  }

  .testimonial{
    background: #fff;
    padding: 40px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    height: 400px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);


  }

  .test-info{
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    justify-content: center;
  }
    .test-info span{
      text-align: center;
      margin: 5px;
    }

  .test-pic{
    width: 80px !important;
    border-radius: 50%;
    margin-right: 15px;
    }

  .test-name{
    font-size: 12px;
    color: #333;
  }

  .test-name span{
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #3498db;
  }
  .testimonial p{
    font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
    text-align: center;
  }
  @media (min-width:770px){
    .testimonaila-section   .testimonial-inner-width h1{
      font-size: 1.8em;
    }

  }

  /* Testimonail Page  END HEARE */
  /* Footer Page  Starts HEARE */
.footer-box{
  display: flex;
  flex-direction: column;
  padding-top:25px;
}
.footer-section{
  width: 100%;
  height:auto;
  background-color: black;
  padding: 20px 10px;

}
 .footer-box .footer-section{
   text-align: center;
   color: white;
}
.quick-link ul li{
  padding: 0 5px;
  color: white;
  list-style-type: none;
  style:none;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.quick-link ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quick-link ul a{
  text-decoration: none;
  color: #fff;
}
.quick-link ul a:hover{
  color: #4c86e5;
}


.footer-bottom{
  text-align: center;
  background-color: black;
  color: white;
}
.footer-bottom a{
  text-decoration: none;
  color: #fff
}
.footer-bottom a:hover{
  text-decoration: underline;
  color: #4c86e5
}
  @media (min-width:770px) {
  .footer-box{
    flex-direction: column;
  }
}

  /* Footer Page  END HEARE */


  /*Return to top*/
  #button {
    display: inline-block;
    background-color: #4c86e5;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }


  @media (min-width: 500px) {
    #button {
      margin: 25px;
    }
  }

  /*Animation*/
  .btnpsection {
    animation-duration: 3s;
    animation-delay: 1s;
  }
